/* Globals.module.css */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background: linear-gradient(180deg, #e7e0f7 0%, #b2b1f1 50%, #6a6fa7 100%);
}

.container {
  margin-top: 0;
  margin-left: 216px;
}

.imgFluid {
  margin-left: -16px;
  max-width: 100%;
  height: auto;
}

.psMd5 {
  padding-left: 5rem !important;
}
